.custom-table-width {
  overflow-x: auto;
  width: 1%;
}

.adminModalCard {
  .modal-img {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week5/emir.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
  }
}
